
body {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;

   
  }
  main{
    display: flex;
    flex-direction: column;
  }
  
.tableDiv {
    display: flex;
    flex-wrap: wrap;
}

.cardsReady{
  display: flex;
}